<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src='/scripts/app.js' defer></script>
  <link rel="stylesheet" href="/styles/profile.css">
  <title>Document</title>
</head>
<body>
  <%- include('../templates/header') %>
  
  <!-- removed img upload form -->
  <br>
  <main class='ui container'>
      <p>You started growing your flower on <%=user.dateJoined.toDateString()%></p>
    <div class='ui two column stackable grid'>
      <div class="ui column left">
        <div class="ui top attached tabular menu">
          <a class="item active" data-tab="first">Mood Data</a>
          <a class="item" data-tab="second">Outlook Data</a>
          <a class="item" data-tab="third">Frequent Emotions</a>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="first">
          <canvas id="moodChart" width="400" height="400"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
          <canvas id="outlookChart" width="400" height="400"></canvas>
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
          <canvas id="emotionsChart" width="400" height="400"></canvas>
        </div>
      </div>
      <div class="ui column right">
        <br>
        <div class="form-container">
          <h3 class="ui center aligned header">How are you today?</h3>
          <hr>
          <form class='ui form' action='/profile/<%=user.username%>' method='POST'>
            <p>
              <div class="ui selection dropdown">
                <input type="hidden" name="mood">
                <i class="dropdown icon"></i>
                <div class="default text">Mood</div>
                <div class="menu">
                  <div class="item" data-value="1">Awful</div>
                  <div class="item" data-value="2">Not Great</div>
                  <div class="item" data-value="3">Okay</div>
                  <div class="item" data-value="4">Good</div>
                  <div class="item" data-value="5">Awesome!</div>
                </div>
              </div>
            </p>
            <p>
              <div class="ui selection dropdown">
                <input type="hidden" name="outlook">
                <i class="dropdown icon"></i>
                <div class="default text">Outlook</div>
                <div class="menu">
                  <div class="item" data-value="1">Stuck</div>
                  <div class="item" data-value="2">Uncertain</div>
                  <div class="item" data-value="3">Meh</div>
                  <div class="item" data-value="4">Hopeful</div>
                  <div class="item" data-value="5">Excited</div>
                </div>
              </div>
            </p>
            <p>
              <div class="ui input">
                <!-- <label for="frequentEmotion">Frequent Emotion</label> -->
                <input type="text" name="frequentEmotion" placeholder="Frequent Emotion">
              </div>
            </p>
            <p>
              <div class="ui input">
                <!-- <label for="notes">Notes</label> -->
                <textarea rows="3" type="text" name="notes" placeholder="Notes..."></textarea>
              </div>
            </p>
            <input class='ui secondary button' type="submit" value="Log Mood">
          </form>
        </div>
      </div>
    </div>
    

  </main>
  <%- include('../templates/footer') %>
  <script>
    var ctx1 = document.getElementById('moodChart').getContext('2d');
    var myChart = new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: ['Awful', 'Not Great', 'Okay', 'Good', 'Awesome'],
        datasets: [{
          label: 'Frequency',
          data: <%- JSON.stringify(moodData) %>,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    var ctx2 = document.getElementById('outlookChart').getContext('2d');
    var myChart = new Chart(ctx2, {
      type: 'bar',
      data: {
        labels: ['Stuck', 'Uncertain', 'Meh', 'Hopeful', 'Excited'],
        datasets: [{
          label: 'Frequency',
          data: <%- JSON.stringify(outlookData) %>,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    var ctx3 = document.getElementById('emotionsChart').getContext('2d');
    var myPieChart = new Chart(ctx3, {
      type: 'pie',
      data: {
        labels: <%- JSON.stringify(emotionsLabel) %>,
        datasets: [{
          data: <%- JSON.stringify(emotionsData) %>,
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
        }],
      }
    });
  </script>
</body>

</html>