<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2" ></script>
  <script src="https://unpkg.com/tippy.js@6" ></script>
  <script src='/scripts/app.js' defer></script>
  <link rel="stylesheet" href="/styles/timeline.css">
  <title>Sunflower</title>
</head>

<body>
  <%- include('../templates/header') %>
  
  <div class="ui one column stackable center aligned page grid timeline">
    <div class="column twelve wide flower-container">
      <div class="flower-container" >
        <h1>Your Flower</h1>
        
          <% if (user.flower === 'Sunflower') { %>
            <div class="flower" style='background-color: rgb(<%=user.petals.red%>, <%=user.petals.green%>, <%=user.petals.blue%>);'>
              <img class='flower-image' src="/svg/sunflower.svg" width='200px' height="175px" alt="Flower Image" style='fill: rgb(<%=user.petals.red%>, <%=user.petals.green%>, <%=user.petals.blue%>);'>
            </div>
          <% } else if (user.flower === 'Lotus'){ %>
            <div class="flower" style='background-color: rgb(<%=user.petals.red%>, <%=user.petals.green%>, <%=user.petals.blue%>);'>
              <img class='flower-image' src="/svg/lotus.svg" width='200px' height="130px" alt="Flower Image" style='fill: rgb(<%=user.petals.red%>, <%=user.petals.green%>, <%=user.petals.blue%>);'>
            </div>
          <%} else if (user.flower === 'Cornflower') {%>
            <div class="flower" style='background-color: rgb(<%=user.petals.red%>, <%=user.petals.green%>, <%=user.petals.blue%>);'>
              <img class='flower-image' src="/svg/cornflower.svg" width='200px' height="150px" alt="Flower Image" style='fill: rgb(<%=user.petals.red%>, <%=user.petals.green%>, <%=user.petals.blue%>);'>
          </div>
          <%}%>
        </div>
        <div class="stem-container">

        
        <% for( let index = 0; index < log.length; index++ ) { %>
          <% if (index % 2 === 0) { %>
            
              <div class="stem centered" id="z<%=log[index]._id%>">
                <a class='centered' href="/profile/<%=user.username%>/mood/<%=log[index]._id%>">
                  <img src="/svg/vine4.svg" width='130px' height="100px" alt="">
                </a>
              </div>
              <script>
                tippy('#z<%=log[index]._id%>', {
                  content: '<p><%=log[index].dateAdded.toDateString()%></p>',
                  allowHTML: true,
                  placement: 'right',
                  arrow: false, 
    
                });
              </script>
          <% } else {%>
            
              <div class="stem centered" id="z<%=log[index]._id%>">
                <a href="/profile/<%=user.username%>/mood/<%=log[index]._id%>">
                  <img src="/svg/vine4.svg" width="130px" height="100px" alt="">
                </a>
              </div>
              <script>
                tippy('#z<%=log[index]._id%>', {
                  content: '<p><%=log[index].dateAdded.toDateString()%></p>',
                  allowHTML: true,
                  placement: 'left',
                  arrow: false,
                });
              </script>
            <%}%>
        
        <% } %>
        </div>
      </div>
    </div>
 </div>

  
  <%- include('../templates/footer') %>
</body>

</html>