<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src='/scripts/app.js' defer></script>
  <link rel="stylesheet" href="/styles/profile.css">
  <title>Sunflower</title>
</head>

<body>
  <%- include('../templates/header') %>
  <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
      <% log.forEach(entry => { %>
        <div class="ui card column center aligned">
          <div class="header content">
            <h3><a href="/profile/<%=user.username%>/mood/<%=entry._id%>"><%=entry.dateAdded.toDateString()%></a></h3>
          </div>
          <div class="content">
            <p class='left aligned'>Mood: <%=entry.mood%></p>
            <p class='left aligned'>Outlook: <%=entry.outlook%></p>
            <p class='left aligned'>Feeling: <%=entry.frequentEmotion%></p>
            <p class='left aligned'>Notes: <%=entry.notes%></p>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic yellow button">Edit</div>
              <div class="ui basic red button">Delete</div>
            </div>
          </div>
        </div>
    
        <% }) %>
    </div>
 </div>
  <br>
  <br>
  <br>
  <br>
  <%- include('../templates/footer') %>
</body>

</html>