<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    rel="stylesheet">
  <title>Sunflower</title>
</head>

<body>
  <h1>Mood Show Page</h1>
  <p>Date: <%= mood.dateAdded.toDateString()%></p>
  <p>Mood: <%= mood.mood%></p>
  <p>Outlook: <%= mood.outlook%></p>
  <p>Frequent Emotion: <%= mood.frequentEmotion%></p>
  <p>Notes: <%= mood.notes%></p>

</body>

</html>