<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunflower</title>
</head>

<body>
  <h1>Mood Show Page</h1>
  <p>Date: <%= mood.dateAdded.toDateString()%></p>
  <p>Mood: <%= mood.mood%></p>
  <p>Outlook: <%= mood.outlook%></p>
  <p>Frequent Emotion: <%= mood.frequentEmotion%></p>
  <p>Notes: <%= mood.notes%></p>

</body>

</html>