<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src='/scripts/app.js' defer></script>
  <link rel="stylesheet" href="/styles/profile.css">
  <title>Sunflower</title>
</head>

<body>
  <%- include('../templates/header') %>
  
  <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
      <!-- <div class="ui card"> -->
        <!-- <div class="ui card content"> -->
          <p>Date: <%= mood.dateAdded.toDateString()%></p>
          <p>Mood: <%= mood.mood%></p>
          <p>Outlook: <%= mood.outlook%></p>
          <p>Frequent Emotion: <%= mood.frequentEmotion%></p>
          <p>Notes: <%= mood.notes%></p>
        <!-- </div> -->
      <!-- </div> -->
    </div>
 </div>

    

  
  <%- include('../templates/footer') %>
</body>

</html>